<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="../public/static/css/weui.min.css">
    <link rel="stylesheet" type="text/css" href="../public/static/css/detail.css">
    <title><%= 班级 %></title>
</head>
<body>
    <article class="weui-article">
    <h1 class="class-name">班级名称</h1>
    <section>
        <section>
            <h3>班级介绍</h3>
            <p>
                
                <img class="class-pics" src="../public/static/img/banner.jpg">
            </p>
            <p>
                友爱的班级级友友爱的班级友爱的班级友爱的班级友爱的班级友爱的班级友爱的班级友爱的班级友爱的班级友爱的班级
            </p>
            
        </section>
        <section>
            <h3>班徽介绍</h3>
            <p>
                <img src="../public/static/img/banhui/banhui.png">
            </p>
            <p>
                我们班徽好看好看好看好看好看
            </p>
        </section>
    </section>
    <footer>© 红岩网校工作站</footer>
</article>
</body>
</html>