.weui-article {
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.weui-article p {
  text-align: left;
  text-indent: 30px;
  margin-top: 20px;
}
footer {
    margin-top: 2.5em;
    margin-bottom: 5em;
    width: 100%;
    text-align: center;
}
.class-name {
  margin-top: 50px;
}
.class-pics {
  width: 100%;
}
.banji {
    width: 100%;
}
.banhui {
    width: 50%;
}
.weui-article .banhui-wrap {
    text-align: center;
    text-indent: 0;
}